# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build outputs
dist/
build/
**/dist/
**/build/
web-build/
generated/
**/generated/
back/prisma/dev.db

# Expo specific
.expo/
expo-env.d.ts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Temporary files
*.tmp
*.temp
.cache/

# Testing
coverage/
**/coverage/

# Misc
app-example 